body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.push-down {
	margin-top: 25px;
}

.filter-menu {
	margin-left: -40px;
	height: 32px;
}

.filter-menu, .filter-menu li {
	list-style-type: none;
	list-style: none;
}

.filter-menu li {
	float: left;
	display: block;
	margin-right: 15px;
}

.filter-menu li.active {
	font-weight: bold;
}

.filter-menu li.active a {
	color: #093D6E;
}

.task-entry {
	margin-top: 10px;
	margin-bottom: 20px;
}

.task-entry-priority {
	padding-top: 5px;
	text-align: center !important;
	font-weight: bold;	
}

.task-entry-completion {
	text-align: center !important;	
}

.task-entry-title {
	font-weight: bold;
}

.task-entry-title a {
	color: #000 !important;
	font-size: 125%;
}

.task-entry-description {
	color: #999;
	font-size: 75%;
}

.task-entry-due-date {
	font-size: 95%;
	color: #555;
}

.task-entry-controls {
	margin-top: 10px;
}

.task-entry-followup-item {
	margin-bottom: 10px;
	margin-top: 10px;
}

.task-entry-followup-action {
	font-size: 90%;
	color: #905D00;
}

.task-entry-followup-action-due-date {
	font-size: 80%;
	color: #6A3001;
}

.task-entry-followup-controls {
	margin-top: 10px;
}

.dashboard-section {
	min-height: 200px;
	margin-top: 25px;
}

.dashboard-item {
	margin: 5px;
	padding: 10px;
	border: solid 1px #eeeeee;
}

.dashboard-item .task-entry-title {
	
}

.dashboard-item .task-entry-title * {
	font-weight: normal;
	color: #06659F !important;
}

.clickable {
	cursor: pointer;
}

.display-inline {
	display: inline !important;
}

.white-link {
	color: #FFF !important;
}

.full-width {
	width: 100%;
}

.no-bold {
	font-weight: normal !important;
}

.strikeout {
	text-decoration: line-through;
}

.task-items-list, .task-items-list li {
	list-style: none;
	list-style-type: none;
}

.task-items-list {
	margin-left: -40px;
}

/************* schedule *************/


#schedule ul.schedule-day-columns,
#schedule ul.schedule-day-columns li {
	list-style: none;
	list-style-type: none;
}

#schedule .schedule-day-columns tr td:nth-child('even') {
	background: #f6f6f6;
}

#schedule .schedule-day-columns .schedule-task-list {
	font-size: 70%;
}

.faded {
	filter: alpha(opacity=60);
	opacity: 0.6;
}